[Unit]
Description=Tsinghua University Daily Checkin Timer

[Timer]
OnCalendar=*-*-* 8:00
RandomizedDelaySec=3h
Persistent=true

[Install]
WantedBy=timers.target
