[Unit]
Description=Tsinghua University Daily Checkin Service
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh /home/ubuntu/thu-checkin/run.sh
