[Unit]
Description=Tsinghua University Daily Checkin Service
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /root/thu-checkin.py
