[Unit]
Description=Tsinghua University Daily Checkin Timer

[Timer]
OnCalendar=*-*-* 10:00
RandomizedDelaySec=8h
Persistent=true

[Install]
WantedBy=default.target
